<mat-toolbar class="dtes-toolbar" color="primary">
  <a routerLink="/" class="dtes-hand-pointer dtes-logo-span">
    <mat-icon svgIcon="dtes-logo" class="dtes-logo"></mat-icon>
  </a>
  <mat-icon svgIcon="dtes-logo-text" class="dtes-logo-text"></mat-icon>

  <span class="dtes-spacer"></span>
  <!--<app-mailbox-selector *ngIf="!hideToolbarComponents" class="dtes-mailbox-selector dtes-mailbox-selector-internal" [color]="'accent'" [selectedMailbox]="mailbox"></app-mailbox-selector>-->
</mat-toolbar>
