<div color=accent class="footer-internal">
  <span class="footer-item">
    ooTech.vn © 2020 - All Rights Reserved.
  </span>
  <span class="footer-item">Source code is based on Ad Hoc Email Server (DTES)<a href="https://github.com/o4oren/Ad-Hoc-Email-Server" target="_blank"> Github</a></span>
  <span class="dtes-spacer"></span>
  <a class="footer-item" color="primary" routerLink="/help/about">About</a>
  <a class="footer-item" color="primary" routerLink="/privacy">Privacy Policy</a>
  <a class="footer-item" color="primary" routerLink="/privacy">Terms</a>
  <a class="footer-item" color="primary" routerLink="/help/faq">FAQ</a>
  <a class="footer-item" color="primary" routerLink="/help/api">API</a>
  <a class="footer-item" color="primary"> <a href="https://www.ootech.vn" target="_blank">Forum</a></a>
</div>
